* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    font-family: 'Montserrat', sans-serif;
}

.landing {
    min-height: 100vh;
    background: url(./cover.jpg);
    background-position: center;
    background-size: cover;
    padding: 0rem 5rem;
}

nav {
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
}

.nav-links {
    display: flex;
    list-style-type: none;
}

.nav-links li {
    padding-left: 5rem;
    font-size: 1.2rem;
}

#logo {
    font-family: 'Akaya Telivigala', cursive;
    font-size: 2rem;
}

.big-text {
    color: rgb(255, 255, 255);
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    text-align: center;
    text-shadow: 2px 2px rgb(66, 69, 88);
}

.title-text {
    color: rgb(255, 255, 255);
    position: absolute; 
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
    font-size: 1rem;
    text-shadow: 1px 1px rgb(66, 69, 88);
    text-align: center;
}

.header-text {
    font-size: 2rem;
    justify-content: space-between;
    text-align: center;
}

